.le-chat {
    display: flex;
}

.user-container {
    width: 300px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.user-body {
    height: 56px;
    width: 56px;
    margin: 0 auto;
    background-size: contain;
    mask-size: contain;
    background-blend-mode: hard-light;

    &.creator {
        height: 96px;
        width: 96px;
        background: url('../assets/buddy_jump.gif');
        mask-image: url('../assets/buddy_jump.gif');
    }

    &.subbed {
        background: url('../assets/buddy_idle.gif');
        mask-image: url('../assets/buddy_idle.gif');
    }

    &.nosub {
        background: url('../assets/buddy_sit.gif');
        mask-image: url('../assets/buddy_sit.gif');
    }

    &.bot {
        background: url('../assets/robot.gif');
        mask-image: url('../assets/robot.gif');
        margin-bottom: 14px;
    }

    &.modo {
        height: 64px;
        width: 64px;
        background-image: url('../assets/banana.gif');
        background-color: transparent !important;
    }
}

.face-left .user-body {
    transform: scaleX(-1);
}

.face-left .user-badge:has(img[alt^="Fondateur"]),
.face-left .user-badge:has(img[alt^="cheer"]),
.face-left .user-badge:has(img[alt="VIP"]),
.face-left .user-badge:has(img[alt="Prime Gaming"]),
.face-left .user-badge:has(img[alt="Twitch DJ"]),
.face-left .user-badge:has(img[alt="Actuel conducteur de la Hype"]),
.face-left .user-badge:has(img[alt="Précédent conducteur de la Hype"]),
.face-left .user-badge:has(img[alt="GlitchCon 2020"]),
.face-left .user-badge:has(img[alt="Célébration du 15e anniversaire de Minecraft"]),
.face-left .user-badge:has(img[alt^="Borderlands 4 Badge"]),
.face-left .user-badge:has(img[alt="SUBtember 2024"]),
.face-left .user-badge:has(img[alt="ZEVENT 2024"]),
.face-left .user-badge:has(img[alt="Speedons 5 Badge"]),
.face-left .user-badge:has(img[alt="Vive les clips d'hiver"]),
.face-left .user-badge:has(img[alt^="League of L"]),
.face-left .user-badge:has(img[alt="Casque du Loup enragé"]),
.face-left .user-badge:has(img[alt="Badge de clip Elden Ring Nightreign de Rôdeur"]),
.face-left .user-badge:has(img[alt="Badge Elden Ring SuperFan d'Anachorète"]),
.face-left .user-badge:has(img[alt="La Velada del Año IV"]),
.face-left .user-badge:has(img[alt="LEGENDUS"]) {
    transform: scaleX(-1) translateX(50%);
}

.user-badge {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);
}

.user-container:has(.creator) {
    & .user-badge {
        display: none;
    }
}

.user-container:has(.bot),
.user-container:has(.modo) {
    & .user-badge {
        display: none;
    }
}

.user-container:has(.subbed) {
    & .user-badge {
        bottom: 31px;
    }
}

.user-container:has(img[alt="Célébration du 15e anniversaire de Minecraft"]) {
    & .user-body {
        background: none !important;
    }

    & .user-badge {
        content: url('../assets/minecraft.gif');
        bottom: 24px;
    }
}

.user-container:has(img[alt="GlitchCon 2020"]) {
    & .user-body {
        background: none !important;
    }

    & .user-badge {
        content: url('../assets/dino.gif');
        bottom: 24px;
    }
}

.user-container:has(img[alt^="Borderlands 4 Badge"]) {
    & .user-body {
        background: none !important;
    }

    & .user-badge {
        content: url('../assets/borderlands.gif');
        bottom: 24px;
    }
}

.user-container:has(img[alt="Actuel conducteur de la Hype"]) {
    left: 80vw !important;

    & .user-badge {
        content: url('../assets/gilet-jaune.gif');
        padding-bottom: 2px;
    }
}

.user-badge:has(img[alt="Précédent conducteur de la Hype"]) {
    content: url('../assets/gilet-cyan.gif');
    padding-bottom: 2px;
}

.user-badge:has(img[alt^="Abonné"]) {
    display: none;
}

.user-badge:has(img[alt^="Fondateur"]) {
    content: url('../assets/1st.gif');
    padding-bottom: 8px;
}

.user-badge:has(img[alt="VIP"]) {
    content: url('../assets/vip.gif');
    padding-bottom: 42px;
    padding-right: 1px;
}

.user-badge:has(img[alt="Abonnements offerts"]),
.user-badge:has(img[alt$="abonnements-cadeaux"]),
.user-badge:has(img[alt^="Gifter"]) {
    background-image: url('../assets/gift-shadow.gif');
    background-repeat: no-repeat;
    background-position-y: -1px;
}

.user-badge:has(img[alt^="cheer"]) {
    content: url('../assets/pompom.gif');
}

.user-badge:has(img[alt="Speedons 5 Badge"]) {
    content: url('../assets/speedons.gif');
    padding-bottom: 31px;
    padding-right: 33px;
}

.user-badge:has(img[alt="Coureur de la révélation de Marathon"]) {
    content: url('../assets/cat.gif');
    padding-bottom: 38px;
}

.user-badge:has(img[alt="ZEVENT 2024"]) {
    content: url('../assets/zevent.gif');
    padding-bottom: 35px;
    padding-left: 2px;
}

.user-badge:has(img[alt^="Cœur en pixels d"]) {
    content: url('../assets/heart_gold.gif');
    padding-bottom: 9px;
}

.user-badge:has(img[alt^="Cœur en pixels violet"]) {
    content: url('../assets/heart_purple.gif');
    padding-bottom: 9px;
}

.user-badge:has(img[alt^="Cœur en pixels rubis"]) {
    content: url('../assets/heart_ruby.gif');
    padding-bottom: 9px;
}

.user-badge:has(img[alt="LEGENDUS"]) {
    content: url('../assets/ryu.gif');
    padding-bottom: 0px;
    padding-left: 8px;
}

.user-badge:has(img[alt="Casque du Loup enragé"]) {
    content: url('../assets/eldenring-1.gif');
    padding-bottom:17px;
    padding-left: 1px;
}

.user-badge:has(img[alt="Badge de clip Elden Ring Nightreign de Rôdeur"]) {
    content: url('../assets/sword.gif');
    bottom: 24px;
}

.user-badge:has(img[alt="Badge Elden Ring SuperFan d'Anachorète"]) {
    content: url('../assets/eldenring-3.gif');
    padding-bottom: 37px;
    padding-right: 3px;
}

.user-badge:has(img[alt="Première de la saison 2 d'Arcane"]) {
    content: url('../assets/arcane.gif');
    padding-bottom: 7px;
}

.user-badge:has(img[alt^="League of L"]) {
    content: url('../assets/lol.gif');
    padding-bottom: 19px;
}

.user-badge:has(img[alt="SuperUltraCombo 2023"]) {
    content: url('../assets/vs.gif');
    width: 18px;
    height: 18px;
    padding-bottom: 6px;
}

.user-badge:has(img[alt="La Velada del Año IV"]) {
    content: url('../assets/boxing.gif');
    padding-bottom: 9px;
    padding-left: 12px;
}

.user-badge:has(img[alt="Gâteau r/place 2023"]) {
    content: url('../assets/cake.gif');
    width: 18px;
    height: 18px;
    padding-bottom: 7px;
}

.user-badge:has(img[alt="Vive les clips d'hiver"]) {
    content: url('../assets/garland.gif');
    padding-bottom: 8px;
}

.user-badge:has(img[alt="SUBtember 2024"]) {
    padding-bottom: 21px;
    padding-left: 2px;
}

.user-badge:has(img[alt="Badge Avoir la banane"]) {
    padding-bottom: 37px;
}

.user-badge:has(img[alt="Prime Gaming"]) {
    content: url('../assets/prime.gif');
    padding-bottom: 42px;
    padding-right: 6px;
}

.user-badge:has(img[alt^="Artist"]) {
    content: url('../assets/paint.gif');
    padding-bottom: 7px;
}

.user-badge:has(img[alt="Twitch DJ"]) {
    content: url('../assets/dj.gif');
}

.user-badge:has(img[alt="Turbo"]) {
    content: url('../assets/turbo.gif');
    padding-bottom: 43px;
}

.user-badge:has(img[alt="Vérifié"]) {
    mix-blend-mode: luminosity;
}

.user-badge:has(img[alt="Écoute uniquement"]){
    padding-bottom: 21px;
}

.user-badge:has(img[alt="Regarde sans le son"]) {
    mix-blend-mode: lighten;
    padding-bottom: 3px;
}

.user-badge:has(img[alt^="Rétrospective Twitch"]) {
    display: none;
}

.user-message {
    width: fit-content;
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto 10px auto;
    background-color: color-mix(in srgb, var(--secondary-color) 35%, transparent);
    border: 2px solid var(--secondary-color);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: 'bubble' 20s ease-in-out 1 forwards;
}

.user-message:has(> .message-highlighted) {
    border-width: 3px;
    border-radius: 21px;
}

.user-message:has(> .message-announce) {
    border: 8px solid !important;
    border-image-source: linear-gradient(var(--accent-color), var(--secondary-color)) !important;
    border-radius: 26px;
}

.user-message:has(> .message-notice) {
    border: none;
    background: none;
    box-shadow: none;
    max-height: 420px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 0 1px 4px #000;
}

.user-message:has(> .message-animated) {
    border: none;
    background: none;
}

.user-name {
    width: fit-content;
    margin: 0 auto 5px auto;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: large;
    line-height: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 1px 4px #000;
}

.message-quote {
    padding: 4px 8px;
    font-size: small;
    text-wrap: nowrap;
    overflow: hidden;
    color: white;
    text-overflow: ellipsis;
}

.message-text {
    text-wrap: balance;
    background-image: url('../assets/pastel_background.png');
    background-size: 100% 150%;
    border-radius: 18px;
    padding: 6px 10px;
}

.message-highlighted,
.message-notice,
.message-animated {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: x-large;
    font-variant-caps: small-caps;
    color: var(--secondary-color);
}

.message-notice {
    background: none;
    font-size: xx-large;
}

.message-animated {
    background: none;
}

.hype-train-container {
    position: absolute;
    bottom: 10px;
    z-index: -1;
    
    &.arrive {
        animation: 'train-arrive' 2s ease-out 1 forwards;
    }

    &.depart {
        animation: 'train-depart' 2s ease-in 1 forwards;
    }
}

.hype-train {
    position: absolute;
    left: 6vw;
}

.train-tag {
    mix-blend-mode: color-dodge;
}

@keyframes bubble {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }
    2% {
        opacity: 1;
        transform: scale(1, 1);
    }
    35% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: translateY(-500px);
    }
    100% {
        display: none;
    }
}

@keyframes train-arrive {
    0% {
        left: -100vw;
    }
    50% {
        left: 0;
        z-index: -1;
    }
    100% {
        z-index: 50000;
    }
}

@keyframes train-depart {
    0% {
        z-index: 50000;
    }
    50% {
        left: 0;
        z-index: -1;
    }
    99% {
        left: 100vw;
    }
    100% {
        left: -100vw;
    }
}