:root {
    --default-font: 'GG Sans semibold', 'Futura', sans-serif;
    --secondary-font: 'Jersey 10', 'Impact', sans-serif;
    --secondary-color: rebeccapurple;
    --accent-color: darksalmon;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden
}

body {
    background-color: transparent;
    font-family: var(--default-font);
    color: #222;
    overflow: hidden
}

a {
    color: var(--secondary-color);
    text-wrap: nowrap;
}

button {
    background: none;
    border: none;
}

.mention-fragment {
    color: var(--secondary-color);
}

.chatter-name {
    color: var(--accent-color);
}

img[alt="Vérifié"],
img[alt="Écoute uniquement"] {
    border-radius: 10px;
}

img[alt="SUBtember 2024"] {
    border-radius: 10px 5px 5px 10px;
}