:root {
    --default-font: 'GG Sans semibold', 'Futura', sans-serif;
    --accent-font: 'Jersey 10', 'Impact', sans-serif;
    --accent-color: indigo;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: transparent;
    font-family: var(--default-font);
    color: #222;
}

a {
    color: var(--accent-color);
    text-wrap: nowrap;
}

button {
    background: none;
    border: none;
}

.mention-fragment {
    color: var(--accent-color);
}

img[alt^="cheer"] {
    border-radius: 10px;
}

img[alt="Écoute uniquement"],
img[alt="SUBtember 2024"] {
    border-radius: 7px;
}